<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-login-dm>` description.

Example:

```html
<cells-login-dm></cells-login-dm>
```

@demo demo/index.html
-->
<dom-module id="cells-login-dm">
  <template>

    <cells-generic-dp
      id="loginDP"
      host="http://ec2-3-16-167-174.us-east-2.compute.amazonaws.com/deliveryComedor/v1"
      path="users/login"
      body='[[body]]'
      on-request-success='_handleLoginSuccess'
      method="POST"
      >
    </cells-generic-dp>

  </template>
  <script src="cells-login-dm.js"></script>
</dom-module>
